
.container{
    width: 100%;
    height: 55px;
    display: flex;
    background-color: #cc6c5c;
    box-shadow: 5px 10px;
}

.mainNav{
    display: flex;
    list-style: none;
    margin-left: 15px;
    margin-right: auto;
}

.secNav{
    display: flex;
    list-style: none;
    margin-right: 15px;
}

.mainNav li{
    margin-left: 10px;
    cursor: pointer;
}

.secNav li{
    margin-right: 10px;
}
