.up{
    background-color: #141C30;
    width: 40px;
    color: #fff;
    cursor: pointer;
    height: 40px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}