.navbar{
    background-color: #1B1B1D;
    display: flex;
    height: 6vh;
}
.item{
    color : #FAFAFA;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    margin: 7px;
    font-weight: bold;
    transition: 0.5s;
    margin-top: auto;
    margin-bottom: auto;

}
.login{
    color : #FAFAFA;
    margin: 10px;
    font-weight: bolder;
    transition: 0.5s;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}
.login:hover{
    color: #EF4444;
}

.item:hover{
    color: #EF4444;
}